{{ template "base" }}

{{ define "content"}}

<div class="container mt-4">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-2 mx-auto d-block">
			<img
				src="/static/images/marjors-suite.png"
				alt="general quarters"
				class="img-fluid img-thumbnail"
			/>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col">
			<h1 class="text-center">Majors Suites</h1>
			<p>
				Your home away from home, set on the majestic waters of the Atlantic Ocean. This
				will be a really good vacation where you can unwind and indulge in the serene beauty
				of endless sea views. Enjoy the comfort of modern amenities coupled with the
				tranquility of oceanic charm, perfect for rejuvenating both body and mind.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col text-center">
			<a href="/make-reservation-ms" class="btn btn-primary">Check Availibility</a>
		</div>
	</div>
</div>

<div class="row footer p-4">
	<div class="col">Left</div>

	<div class="col">Middle</div>

	<div class="col">Right</div>
</div>
{{ end }}
