{{ template "base" }}

{{ define "content"}}

<div class="container mt-4">
	<div class="row mt-5">
		<div class="col">
			<h1>Make Reservation</h1>

			<form action="" method="post" class="needs-validation" novalidate>
				<div class="form-group">
					<label for="first-name">First Name</label>
					<input
						aria-describedby="first-name"
						class="form-control"
						id="first-name"
						name="first_name"
						placeholder="Enter your first name"
						required
						type="text"
					/>
				</div>

				<div class="form-group">
					<label for="last-date">Last Name</label>
					<input
						aria-describedby="last-name"
						class="form-control"
						id="last-name"
						name="last_name"
						placeholder="Enter your last name"
						required
						type="text"
					/>
				</div>

				<div class="form-group">
					<label for="last-date">Email</label>
					<input
						aria-describedby="email"
						class="form-control"
						id="email"
						name="email"
						placeholder="Enter your email"
						required
						type="email"
					/>
				</div>

				<div class="form-group">
					<label for="last-date">Phone</label>
					<input
						aria-describedby="phone"
						class="form-control"
						id="phone"
						name="phone"
						placeholder="Enter your phone number"
						required
						type="tel"
					/>
				</div>

				<button type="submit" class="btn btn-primary btn-block">Search Availibility</button>
			</form>
		</div>
	</div>
</div>

<div class="row footer p-4">
	<div class="col">Left</div>

	<div class="col">Middle</div>

	<div class="col">Right</div>
</div>
{{ end }}
