{{ template "base" }}

{{ define "content"}}

<div class="container mt-4">
	<div class="row mt-5">
		<div class="col">
			<h1>Search for Availibity</h1>

			<form action="/reservation" method="get">
				<div class="row" id="reservation-date">
					<div class="col">
						<div class="form-group">
							<label for="start-date">Start Date</label>
							<input
								aria-describedby="start-date"
								class="form-control"
								id="start-date"
								name="start"
								placeholder="Enter start date"
								required
								type="text"
							/>

							<small id="emailHelp" class="form-text text-muted">
								Enter your starting date in the form of YYYY-MM-DD
							</small>
						</div>
					</div>

					<div class="col">
						<div class="form-group">
							<label for="end-date">End Date</label>
							<input
								aria-describedby="end-date"
								class="form-control"
								id="end-date"
								name="end"
								placeholder="Enter end date"
								required
								type="text"
							/>

							<small id="emailHelp" class="form-text text-muted">
								Enter your end date in the form of YYYY-MM-DD
							</small>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-block">Search Availibility</button>
			</form>
		</div>
	</div>
</div>

<div class="row footer p-4">
	<div class="col">Left</div>

	<div class="col">Middle</div>

	<div class="col">Right</div>
</div>

<script>
	const elem = document.getElementById('reservation-date');
	const rangepicker = new DateRangePicker(elem, { format: 'yyyy-mm-dd' });

	let template = `
		<form
			action=""
			class="needs-validation"
			id="check-availability-form"
			method="post"
			novalidate
		>
			<div class="form-row" id="reservation-date-modal">
				<div class="col">
					<div class="form-row">
						<div class="col">
							<input
								class="form-control"
								id="start-date"
								name="start-date"
								placeholder="Arrival"
								required
								type="text"
							/>
						</div>

						<div class="col">
							<input
								class="form-control"
								id="end-date"
								name="end-date"
								placeholder="Deprature"
								required
								type="text"
							/>
						</div>
					</div>
				</div>
			</div>
		</form>
	`;
</script>
{{ end }}
